/vendor/
/config/config.ini
/var/cache/*
!/var/cache/.gitkeep
/var/log/*
!/var/log/.gitkeep
.idea/
.DS_Store
Thumbs.db
/var/sessions/*
!/var/sessions/.gitkeep
/web/assets/uploads/*
!/web/assets/uploads/.gitkeep
/config/test.ini
/var/cache/phpunit/
/node_modules/
/test-results/
/playwright-report/
/var/mail/
